# Requirements file to install all packages needed for AxMED:
# Use Python 3.7
# This file may be used within a Python environment using:
# $ pip install -r requirements.txt

pandas==0.25.0 -> 2.2.2
requests==2.20.0 -> 2.31.0
scikit-learn==0.19.2 -> 1.4.2
lief==0.10.1 -> 0.14.1

# AIMED-RL
chainer==7.8.0 -> 7.8.1
chainerrl==0.8.0
